@tailwind base;
@tailwind components;
@tailwind utilities;

/* ugly css cause tailwind is a bitch */

html {
    background-color: #1c2229 !important;
}

.btn-ghost.btn-sm:hover {
    background-color: #373f49 !important;
}

.btn-ghost.btn-sm {
    margin-left: 8px;
}
