@tailwind base;
@tailwind components;
@tailwind utilities;

/* ugly css cause tailwind is a bitch */

html {
    background-color: #1c2229 !important;
}

li a:hover {
    background-color: #373f49 !important;
}

li {
    margin-left: 4px !important;
}
